<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>POC to test Apache's Header set Set-Cookie functionality</title>
</head>
<body>
<h1>Welcome to the Cookie POC</h1>

<p>
    Clicking <a href="/redirect?url=%2F"><b>here</b></a> performs a GET on the <i>/redirect</i> endpoint with a query
    parameter url and value "/". The <i>/redirect</i> responds with 302 - Found with the given url query parameter as
    the Location (= "/"). The response contains 2 cookies: cxrsProcessed="true" which expires after 60 seconds and
    survivor="kilroy" which expires after 24 hours.
</p>
    The response goes through Apache which sets the expiration date of the cxrsProcessed cookie to a date in the
    past (Thu, 01 Jan 1970 00:00:00 GMT). Upon receipt of this header in the response, browsers should remove the
    cxrsProcessed cookie. Other cookies must not be affected.
</p>
</body>
</html>